<div id="header">
    <h1>Welcome to National Criminal Database</h1>
    <p>If you don't have a account, Please register yourself in order to search for Criminals</p>
</div>

<div id="main">
    <div class="section first">
        <h2>This application consists of:</h2>
        <ul>
            <li>Search page which helps in searching the Criminal Database list </li>
            <li>For any queries: mail us at criminaldatabase.us@gmail.com</li>
        </ul>
    </div>
</div>