@{
    ViewBag.Title = "Search the Criminals. Once you submit, you will get mails based on your search results.";
}

<h3>@ViewBag.Title</h3>
<script src="~/Scripts/ProjectScripts/SearchController.js"></script>
<div ng-controller="SearchController">
    <div>
        <table cellpadding="5" cellspacing="6" style="width:50%">
            <tr>
                <td align="right">Name :</td>
                <td><input placeholder="Part of Name" class="form-control" ng-model="searchName" type="text" /></td>
            </tr>
            <tr>
                <td align="right">Age :</td>
                <td>
                    <select class="form-control" ng-model="ageRange">
                        <option value="">Select</option>
                        <option>0-25</option>
                        <option>26-50</option>
                        <option>51-75</option>
                        <option>76-100</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">Gender :</td>
                <td colspan="3">
                    <input style="display: inline;" ng-checked="true" type="radio" ng-model="gender" value="male" />Male
                    <input style="display: inline;" type="radio" ng-model="gender" value="female" />Female
                    <input style="display: inline;" type="radio" ng-model="gender" value="Others" />Others
                </td>
            </tr>
            <tr>
                <td align="right">Height Range :</td>
                <td>
                    <input type="number" class="form-control" ng-model="minHeight" placeholder="min" />
                </td>
                <td>
                    <input type="number" class="form-control" ng-model="maxHeight" placeholder="max" />
                </td>
            </tr>
            <tr>
                <td align="right">Weight Range :</td>
                <td>
                    <input type="number" class="form-control" ng-model="minWeight" placeholder="min" />
                </td>
                <td>
                    <input class="form-control" type="number" ng-model="maxWeight" placeholder="max" />
                </td>
            </tr>
            <tr>
                <td align="right">Nationality :</td>
                <td>
                    <input placeholder="US/Canada" class="form-control" ng-model="nationality" type="text" />
                </td>
            </tr>
            <tr>
                <td align="right">Location :</td>
                <td>
                    <select class="form-control" ng-model="location">
                        <option value="">Select</option>
                        <option ng-repeat="loc in locations" value="{{loc.LocationId}}">{{loc.LocationName}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">Crime Type :</td>
                <td>
                    <select class="form-control" ng-model="crimeType">
                        <option value="">Select</option>
                        <option ng-repeat="crime in crimeTypes" value="{{crime.CrimeTypeId}}">{{crime.CrimeTypeName}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><button class="btn btn-primary" ng-model="btnSearch" ng-click="searchCrime()">Search</button></td>
            </tr>
        </table>
    </div>
</div>